body{
  height:2000px;
}


@media (max-width:992px){
  .row .col-md-4{ /* 새로 추가한 부분, table 설정때문에 창 크기에 따라 유동 변환이 없었음 */
      width:100%;
      /* 아마 어디선가는 이중 선언이 되어 있을 듯 함, 추후 최적화 작업에 포함시킬 것 */
  }
}


.blocks button{
  display:block;
  float:left;
  width:300px;
  height:150px;
  margin: 0 10px 20px;
  padding:0;
  font-size:16px;
  /*letter-spacing:0.15em;*/
  color:#000;
  background-color:#eee;
  border:none;
  border-radius:20px;
}

.gridContainer{
  margin-bottom:30px;
}

.buttonContainer button{
  text-align:left;
  text-indent: 10pt;
}


button .title{
  /*position:absolute;*/
  top:2px;
  display:block;
  border-bottom:3px solid #bbb;
}

button.mouseOver{
  box-shadow: 0px 0px 10px #000;
  font-weight:bold;
  background-color:#bbb;
}

.jumbotron > .container{ /* padding을 함으로써, jumbotron의 부분을 늘린다. */
  padding-top:55px;
}

.row{
  min-height:200px;
  /*display:block;*/
}

.row .col-md-4{ /* 크기를 그냥 내부의 양식을 맞춰서 정하는 것도 하나의 방법일 듯 함 */
  min-height:200px;

  display:table; /* Wrapper에서 table로 display를 지정 */

}

.row_inner{
  display:table-cell; /* 내부 Content에서 Table-cell 및 vertical-align을 지정한다 */
  vertical-align: middle;
}

.modal-backdrop { /* modal 활성화 될때 뒤 색 설정 */
   /*background-color: red;*/ 
}

.modal-header{ /* modal header에 관한 설정 */
  /*background-color:red;*/
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
}

#plus_block{ 
    background-image: -webkit-linear-gradient(top,rgba(196,222,255,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(top,rgba(196,222,255,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,right top,right top,from(rgba(196,222,255,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to top,rgba(196,222,255,.5) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;  
}

textarea{
  resize:none;
}

/* 왜 못감싸는지 모르겠네.. */
.form-inner-container{
  margin:10px;
  
}

.form-inner-container .form-group{
  
  /*height:100%;*/
}

.form-group::after{ /* col-xs-02 등과 같은 클래스는 float:left로 있어 떠있는 상태 */
  content:"";
  display : block;
  clear:both;
  /* http://teraphonia.tistory.com/636 */
}
.in_info{
  display:none; /* 가리기로!, table idx로, ajax를 통해 값을 전달할 것 */
}

.signinName{
  color:white;
}

.form-inner-container label{
  
}

.form_operation .modal-body{
  background:url(../img/sky_2.jpg);
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  color:#fff;
}

#modal_form_body_title{
  margin-bottom:10px;
  font-size:110%;
}